@import "../../../Scss/variables";

.dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
}

.deplist {
  background-color: $color-one;
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sops {
  background: $color-one;
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.document {
  background: $color-one;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
