@import "../../Scss/variables";

body {
  background-color: rgba(#221e1d, 0.9);
}

.left {
  width: 50%;
  margin-right: auto;
}

.signIn {
  height: 100vh;
  background: cover center;

  &__header {
    display: flex;
    width: 100%;

    &__img {
      height: 5rem;
      margin: 1rem 0 0 2rem;
    }

    &__title {
      font-size: 1.8rem;
      align-self: center;
      margin-left: auto;
      margin-right: 2rem;

      &::after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 100%;
        padding-top: 0.2rem;
        border-bottom: 0.01rem solid black;
      }
    }
  }

  &__form {
    margin: 4rem auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 0.3rem;
    // horizontal vertical blur spread color
    // box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 2rem 0 rgba(0, 0, 0, 0.3);

    background-image: linear-gradient(
        105deg,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 50%,
        transparent 60%
      ),
      url(../../images/loginMushroom.jpeg);
    background-size: cover;

    &__header {
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 3rem;

      &:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 50%;
        padding-top: 0.5rem;
        border-bottom: 0.01rem solid black;
      }
    }

    &__group:not(:last-child) {
      margin-bottom: 1.3rem;
      margin-left: 1.2rem;
    }

    &__label {
      font-size: 0.8rem;
      font-weight: 700;
      margin-left: 1.6rem;
      display: block;
      transition: all 0.2s;
    }

    &__input {
      color: inherit;
      font-size: 0.8rem;

      //inherit font family
      font-family: inherit;
      padding: 0.7rem 1.7rem;
      border-radius: 100px;
      background-color: rgba($color: darkgrey, $alpha: 100);

      //remove wierd looking border
      border: none;
      width: 90%;
      display: block;

      //so inputs wont jump when clicked on
      border-bottom: 3px solid transparent;
      transition: all 0.2s;

      //remove blue border
      &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba(black, 0.1);
        border-bottom: 3px solid $color-one;
      }

      &:focus:invalid {
        border-bottom: 3px solid #ff7730;
      }
      &:focus:valid {
        border-bottom: 3px solid blue;
      }
    }

    &__input:placeholder-shown + &__label {
      opacity: 0;
      visibility: hidden;
      //going up
      transform: translateY(-2.8rem);
    }

    &__btn {
      display: absolute;
      left: 50%;
      transform: translateX(50%);

      border: 0;
      width: 50%;
      height: 2rem;
      border-radius: 100px;
      background-color: $color-three;
      color: black;
      font-size: 0.8rem;
      font-family: inherit;
      transition: all 0.2s;
      &:hover {
        cursor: pointer;
        scale: 10rem;
        transform: scale(1.1) translateX(48%);
        // transform: translateY(-0.1rem);
      }

      &:focus {
        outline: none;
      }
    }

    &__req {
      margin-top: 2rem;
      display: flex;
      margin-top: 4rem;
      justify-content: space-between;
      text-decoration: underline;
      font-size: 0.8rem;

      &:hover {
        cursor: pointer;
      }

      &-cred:any-link {
        color: black;
      }
      &-acc:any-link {
        color: black;
      }
    }
  }
}
