@import "../../../Scss/variables";

.documentC {
  background-color: $color-four;
  width: 93%;
  height: 97%;
  border-radius: 0.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
