@import "../../Scss/variables";

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  border-radius: 2px;

  height: 70%;
  width: 40%;

  //top right bottom left
  padding: 1rem 2rem 1rem 2rem;

  background-color: rgba($color: $color-one, $alpha: 1);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__exit {
    width: 5%;
    height: 5%;
    background-color: rgba(grey, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0.4rem;
    margin-top: 0.4rem;

    border-radius: 50%;

    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      background-color: rgba(grey, 0.8);
      transform: scale(1.1);
    }

    &:before,
    &:after {
      content: "";
      width: 70%;
      display: block;
      border-bottom: 1px solid black;
      position: absolute;
    }

    &:before {
      transform: rotate(45deg) translate(10.5px, 5px);
    }
    &:after {
      transform: rotate(-45deg) translate(9.5px, -5px);
    }
  }

  &__users {
    display: block;
    text-align: center;
  }

  &__seperator {
    width: 100%;
    border-bottom: 1px solid rgba(black, 0.2);
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;

    &-logo {
      height: 5rem;
      object-fit: contain;
    }

    &-header {
      font-size: 1.5rem;
    }

    &-description {
      font-size: 0.7rem;
    }

    &:hover {
      cursor: pointer;
      background-color: rgba($color: #000000, $alpha: 0.05);
    }

    &:last-child {
      margin-top: 1.3rem;
    }
  }
}
